@import '../../assets/sass/helpers/variables';

.map-container {
    position: relative;
    margin-top: 15px;

    .message {
        font-size: 20px;
        text-align: center;
        color: $secondaryColor;
    }
    
    .hotels-list {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}